.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  background-image: url("../../assets/images/projects_bg.jpeg");
  background-size: cover;
}
