p {
  font-family: "Roboto", sans-serif;
}

.resume {
  padding-bottom: 5%;
}

.description {
  background: #27221f;
  color: white;
  padding: 2em;
}

.profile {
  text-align: left;
  padding-right: 2em;
  /* padding-top: 2em; */
}

.avatar {
  width: 30%;
}
.profile hr {
  border-top: 3px solid #4b3fb2;
  border-top: 3px solid black;
  width: 50%;
  margin: 0;
}
.description hr {
  border-top: 3px solid #e22947;
}
