.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15%;
  background-image: url("./assets/about_bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
