h1 {
  font-family: "Anton", sans-serif;
}

p {
  font-family: "Oxygen", sans-serif;
}

.contact {
  width: 100%;
  height: 100%;
  padding: 5em;
  justify-content: center;
  /* text-shadow: 10px 10px 12px black; */
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  background-image: linear-gradient(
    70.6deg,
    rgba(172, 30, 255, 1) 0.3%,
    rgba(65, 35, 251, 1) 55.8%,
    rgba(35, 251, 224, 1) 105.1%
  );
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 255, 176, 1) 0%,
    rgba(66, 105, 242, 1) 90%
  ); */

  border: 3px solid black;
  box-shadow: 5px 10px;
  color: white;
  /* text-shadow: 1px 1px 1px white; */
}

.grid {
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 5%;

  /* background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%); */

  /* background: #141e30;  */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  );  */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #243b55,
    #141e30
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.profile-title {
  font-size: 3rem;
  text-decoration: none;
}

.contact-title {
  font-size: 1.5rem;
  text-decoration: none;
}

.profile-pic {
  padding: 1em;
  width: 30%;
  height: auto;
}

.profile-des {
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.contact-title hr {
  border-top: 2px solid;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
  color: #3c99eb;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 3em;
  font-size: 1.5em;
  padding-left: 5rem;
}

@media (max-width: 600px) {
  .contact {
    padding: 1em;
  }
  .profile-pic {
    width: 50%;
  }
  .profile-des {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.2rem;
  }
  .contact-list i {
    font-size: 30px;
    padding-right: 1rem;
  }
  .list-item {
    margin: 1.5em;
    font-size: 1.1em;
    padding-left: 1rem;
  }
  .grid {
    padding-bottom: 10%;
  }
  .profile-title {
    font-size: 2rem;
  }

  .contact-title {
    font-size: 1rem;
  }
}
@media (max-width: 350px) {
  .contact-list i {
    font-size: 40px;
    padding-right: 2rem;
  }
  .list-item {
    margin: 1.5em;
    font-size: 1em;
    padding-left: 1rem;
  }
}
