h1 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Oxygen", sans-serif;
}

.contact {
  width: 100%;
  height: 100%;
  padding: 5%;
  justify-content: center;
  text-shadow: 2px 2px 8px black;
  /* background-image: url("../../assets/images/contact_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #d2fafb;
}

@media (max-width: 600px) {
  .contact {
    padding: 0;
  }
}

.grid {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10%;
  background: white;
  color: white;
  font-weight: 300;
  border: 2px solid black;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-title {
  font-size: 3rem;
}

.contact-title {
  font-size: 1.5rem;
}

.profile-pic {
  padding: 1em;
  width: 40%;
  height: auto;
}

.profile-des {
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1.5rem;
}

.contact-title hr {
  border-top: 5px solid white;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 3em;
  font-size: 1.5em;
  padding-left: 5rem;
}

@media (max-width: 600px) {
  .contact-list i {
    font-size: 40px;
    padding-right: 2rem;
  }
  .list-item {
    margin: 1.5em;
    font-size: 1.2em;
    padding-left: 1rem;
  }
}
@media (max-width: 350px) {
  .contact-list i {
    font-size: 40px;
    padding-right: 2rem;
  }
  .list-item {
    margin: 1.5em;
    font-size: 1em;
    padding-left: 1rem;
  }
}
