h1 {
  font-family: "Anton", sans-serif;
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact {
  width: 100%;
  height: 100%;
  padding: 5%;
  justify-content: center;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15%; */
  /* background-image: url("../../assets/images/contact_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}

@media (max-width: 600px) {
  .contact {
    padding: 0;
  }
}

.grid {
  text-align: center;
  justify-content: center;
  background: white;
  opacity: 0.9;
  color: black;
  border: 2px solid black;
}

.profile-pic {
  padding: 1em;
  width: 50%;
  height: auto;
}

.profile-des {
  margin: 1em;
  padding: 3em;
}

.info-title hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.info-contact p {
  font-size: 25px;
}

.info-contact i {
  font-size: 25px;
  padding: 5%;
}
